



/* EXTEND*/


@each $imagen in home, about, historia1, historia2 {
  .fondo-#{$imagen}{
    background: url(../img/#{$imagen}.jpeg) no-repeat;
    
    @extend .fondoEstandar;
  }
}
.fondoEstandar{
  background-size: cover;
  background-position: center;
}
