


.fondoContacto{
    background:url(../img/home-img.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .fondoNosotros{
    background:url(../img/about-img.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .fondoHistoria1{
    background:url(../img/historia-1.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .fondoHistoria2{
    background:url(../img/historia-2.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
  }